<!DOCTYPE html>
<html>
  <head>
    <title>Fatura - Appuni</title>
  </head>

  <body>
    <div>
      <p>
        Prezado(a) Cliente,
      </p>

      <p>
        Chegou o momento de renovar o(s) seu(s) serviço(s) com a Appuni, acesse seu boleto bancário clicando <a href="{{ boleto }}">aqui</a> e sua nota fiscal clicando <a href="{{ nfe }}">aqui</a> para pagamento.</a>.
      </p>

      <p>Em caso de dúvidas não responda este e-mail, envie e-mail para financeiro@appuni.com.br informando o seu CNPJ e dúvida.</p>

      <p>Adicione o e-mail appuni-sys@appuni.net na sua lista de remetentes confiáveis para receber todos os comunicados da Appuni, não hesite em nos contatar</p>

      <p>Atenção, o e-mail appuni-sys@appuni.net não é uma conta monitorada pela nossa equipe, nunca envie mensagens para este conta, trata-se de uma conta de sistema.</p>

      <p>Atenciosamente</p>
      <p>Appuni Soluções Web</p>
      <p>(11) 5041-7528</p>

    </div>
  </body>
</html>
