<!DOCTYPE html>
<html>
  <head>
    <title>Fatura - Appuni</title>
  </head>

  <body>
    <div>
      <p>
        Prezado(a) Cliente,
      </p>

      <p>
        Chegou o momento de renovar o(s) seu(s) serviço(s) com a Appuni, acesse
        seu boleto bancário <a href="{{ boleto }}">aqui</a>.
      </p>

      <p>
        Em caso de dúvidas não responda este e-mail, envie e-mail para
        financeiro@appuni.com.br informando o seu CPF e dúvida.
      </p>

      <p>
        Adicione o e-mail appuni-sys@appuni.net na sua lista de remetentes
        confiáveis para receber todos os comunicados da Appuni, não hesite em
        nos contatar.
      </p>

      <p>
        Atenção, o e-mail appuni-sys@appuni.net não é uma conta monitorada pela
        nossa equipe, nunca envie mensagens para este conta, trata-se de uma
        conta de sistema.
      </p>

      <p><strong>Atenciosamente</strong></p>
      <p><strong>Appuni Soluções Web</strong></p>
      <p><strong>(11) 5041-7528</strong></p>
    </div>
  </body>
</html>
