<!DOCTYPE html>
<html>
  <head>
    <title>Fatura - Appuni</title>
  </head>

  <body>
    <div>
      <p>
        Prezado(a) Cliente,
      </p>

      <p>
        Chegou o momento de renovar o(s) seu(s) serviço(s) com a Appuni, acesse
        seu boleto bancário <a href="{{ boleto }}">aqui</a>.
      </p>

      <p>
        Em caso de dúvidas não responda este e-mail, envie e-mail para
        financeiro@appuni.com.br informando o seu CPF e dúvida.
      </p>

      <p>Adicione o e-mail financeiro@appuni.com.br na sua lista de remetentes confiáveis.</p>

      <p><strong>Atenciosamente</strong></p>
      <p><strong>Appuni Soluções Web</strong></p>
      <p><strong>(11) 5041-7528</strong></p>
    </div>
  </body>
</html>
